    <!DOCTYPE html>
    <html lang="en">
    <head>

        <title>patients</title>
        {% load static %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
        <link rel="shortcut icon" href="{%  static 'pages/favicon-32x32.png' %}"> 
        

    </head>
<style>

.add{
    float: right;
    display: fixed;
}

p{
    font-size: 40px;
}
.btn-danger{
    float: right;
    margin-top: -5px;
}
</style>
    <body>

    {% include 'pages/nav.html' %}


    <div class="container">

        <p>Patient List
        <a class="btn btn-primary btn-lg add" role ="button" href="/patientadd">Add Patients</a> 
    </p>
    <div class="list-group">
        <br>
        <br>
    {% for i in names %}

    <li  class="list-group-item" >{{i.first_name}}  {{i.last_name}} <a class="btn btn-danger btn-sm" href="{% url 'remove' pk=i.pk %}"> Delete</a> </li>

    {% endfor %}
    </div>
</div>
</body>
</html>